$black: #000;
$dark: #161616;
$dark-grey: #737373;
$light-grey: #B3B3B3;
//$light-grey: rgba(0,0,0,.2);
$red: #ff0000;
$white-smoke: #EFEFEF;
$white: #fff;

//
input:focus,
select:focus {
  border-color: #D9D9D9 !important;
}