@import './../../../assets/theme/colors';
@import './../../../assets/theme/typography';
@import './../../../assets/theme/panels';

.search-panel {
  background-color: #D8D8D8;
  padding: 10px 0;
}

.search-panel-wrap {
  display: flex;
  justify-content: space-between;  
}

.search-input-group {
  max-width: 360px;  
}
.sort-wrap {
  flex: 1;
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-end;
  align-items: center;
}
label {
  margin-right: 6px;
  font-size: 1.4rem;
}
select {
  position: relative;
  padding: 12px;
  height: 40px !important;
  border-radius: 8px;
  line-height: 14px;
  border: 1px solid rgba(0,0,0,.2);
  font-size: 1.3rem;
  text-transform: uppercase;
  // appearance: none;
}

.sort-by {
  display: flex;
  align-items: center;
  select {
    width: 126px;
    margin-right: 20px;
  }  
}
.show-record {
  display: flex;
  align-items: center;
  select {
    width: 66px;
  }
}

@media (max-width: 991px) {
  .search-panel-wrap {
    flex-direction: column;
  }
  .search-input-group {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .sort-wrap {
    justify-content: flex-start;
  }
}

@media (max-width: 474px) {
  .sort-by {
    margin-bottom: 10px;
  }
}
