@import './../../assets/theme/colors';
@import './../../assets/theme/typography';

$navbar-height: 60px;

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.navbar {
    // position: relative;
    background-color: $dark;    
    .navbar-wrap {        
        display: flex;
        justify-content: flex-start;
        align-items: center;        
    }
    .navbar-logo {
      z-index: 100;
    }
}

.navbar-menu {
    height: $navbar-height;
    margin-right: auto;
    padding: 0 15px;
    display: flex;
    // position: relative;
    align-items: center;
    & > span, 
    & > a {   
        padding: ($navbar-height/2px - 10px) 15px;
        color: $dark-grey; 
        text-transform: uppercase;        
        white-space: nowrap; 
        font-size: 1.3rem; 
        line-height: 2rem;
    }
    & > a {
        
    }
    & > span.contacts {
        font-size: 2rem;
//        padding: ($navbar-height/2px - 10px) 15px;
        &.dropdown {
            margin-right: 30px;
        }
        &.dropdown::after {
            position: absolute;
            top: 50%;
            margin-top: -13px;
        }
        
        //NAVBAR > CONTACTS > DROPDOWN
        .dropdown-menu {
            nav {
                display: flex;
                flex-direction: column;
                a {   
                    text-transform: none;
                    color: $dark-grey;
                    font-size: 2rem;
                    margin-bottom: 10px;                    
                }
            }
        }
    
    }
}

.navbar-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navbar-height;
    .cart {
        top: 2px;
        padding: ($navbar-height/2px - 12px) 15px;
        margin-right: 18px;
        z-index: 100;
        &.dropdown {
            margin-right: 35px;
        }
        &.dropdown::after {
            position: absolute;
            top: 50%;
            margin-top: -10px;
            left: 50%;
            margin-left: 25px;
        }
        .dropdown-menu {
            width: 350px;
            text-align: center;
        }
    }
}

.navbar-dropdown {  
    &::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 15px;
        content: url('../../assets/img/Icon_Arrow.png');
    }   
    &:hover .dropdown {
      display: block;
    }
    .dropdown {
      width: 100vw;
      background-color: $dark;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      z-index: 100;
      display: none;
      padding: 10px 15px;
      &::after {
        display: none;
      }
    }
    .car-row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      & > div {
          flex: 1;
          padding: 10px;
          min-width: 135px;
      }
      span {
          text-transform: uppercase;
          border-radius: 50px;
          padding: 10px 20px;
          transition: .2s ease-in;
          &:hover {
              background-color: #fff;
              color: #000;
          }            
      }
  }
}

.toggle-menu-wrap {
  display: none;
  position: relative;
  padding: 23px 9px;
  cursor: pointer;
}
.toggle-menu-checkbox {
  width: 46px;
  height: 46px;
  display: none;
}
.toggle-menu-icon {
  span {
    cursor: pointer;
    display: block;
    width: 25px;
    height: 3.5px;
    border-radius: 10px;
    background-color: $red;
    position: relative;
    top: 50%;
    margin-top: -1.75px;
    z-index: 100;
    &::before,
    &::after {
      content: '';
      width: inherit;
      height: inherit;
      border-radius: inherit;
      background-color: inherit;
      position: absolute;
    }
    &::before {
      position: absolute;
      bottom: -8px;
    }
    &::after {
      top: -8px;
    }
  }
}
.toggle-menu {
  transition: all 0.4s ease-in-out;
  position: absolute;
  top: -250px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  text-align: center;
  z-index: 10;
  background-color: $dark;
}
.toggle-menu-checkbox:checked + label + nav {
  top: 54px;
}

@media (max-width: 1200px) {
    .navbar-wrap {
        height: $navbar-height;
    }
    .navbar-logo {
        margin-right: auto;
    }
    .navbar-menu {
        display: none;
    }
    .navbar-actions {
        button {
            display: none;    
        }
    }
    .toggle-menu-wrap {
      display: block;
    }
}


//TODO: Replace to DROPDOWN.SCSS
.dropdown {
    cursor: pointer;
    position: relative;
    &::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 15px;
        content: url('../../assets/img/Icon_Arrow.png');
    }   
    &:hover .dropdown-menu {
        display: block;
    }
    & .dropdown-menu {
        position: absolute;
        top: $navbar-height;
        left: 0;        
        display: block;        
        background-color: $white;
        border-radius: 0 0 8px 8px;
        padding: 15px;
        display: none; 
        z-index: 100;
        &.cart {
          top: 56px;
          left: auto;
          right: 0;
          z-index: 100;
          margin-right: -35px;
        }        
    }  
    
}





